body{
    background-color: rgb(6, 6, 61);
    font-family: "Fredoka";
    color: white;
    margin-top: 200px;
    margin-left: 150px;
}
h1{
    font-weight: 400;    
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.greenhead{
    width: 340px;
    color: rgb(47, 129, 47);
    border-bottom: 4px rgb(47, 129, 47) solid;
}
.pswd{
    padding: 7px;
    width:500px;
    height: 50px;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.pswd img{
    width: 40px;
    cursor: pointer;
}
.pswd input{
    border: none;
    font-size: 20px;
    outline: none;
}
.generator{
    margin-top: 20px;
}
.generator button img{
    width: 25px;
}
.generator button{
    background-color: rgb(24, 93, 24);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 175px;
    font-size: 15px;
    padding: 8px 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
